<!DOCTYPE html>
<html>
    <head>
        <title>My first angular2 application</title>
        <link rel="stylesheet" href="assets/semantic/semantic.min.css">
        <style>
            .main.container{
                margin-top: 75px;
            }
        </style>
    </head>
    
    <body>
        <div class="ui fixed inverted menu">
            <a href="/" class="header item">Accueil</a>
        </div>
        <div class="ui main container">
            <% if (locals.error) { %>
            <div class="ui negative message">
                <%= error %>
            </div>
            <% } %>