<% include header %>

<form action="/" method="post" class="ui form">
    <div class="field">
        <label for="message">Message</label>
        <textarea name="message" placeholder="Votre message"></textarea>
    </div>
    <button class="ui button blue labeled icon submit" type="submit">
        <i class="icon edit"></i>Envoyer
    </button>
</form>

<% include footer %>